<script type="text/javascript">

    //Default tab selector
    var type = "Anime";

    $('#search').keypress(function(e){
        if(e.which == 13){
            var url = "search?query=" + $('#search').val() + "&type=" + type.toLowerCase();
            window.location.replace(url);
        }
    });

    //prevent redirection
    $('ul.search-type li a').on('click', function(e) {
        e.preventDefault();
    });

    $(document).ready(function()
    {

        $(".default").css("border-top", "1px solid #3B6F96");
        $(".default").css("box-shadow", "inset 0 1.5px #3B6F96");
        $(".default").css("border-bottom", "none");

        $('ul.search-type li').click(function(e)
        {
            var clickEl = $('ul.search-type li a');

            //deselect
            clickEl.each(function(){
                $(this).css("box-shadow", "none");
                $(this).css("z-index", "none");
                $(this).css("border", "1px solid #ddd");
                $(this).css("border-bottom", "none");

            });
            //select
            $(this).find("a").css("border-top", "1px solid #3B6F96");
            $(this).find("a").css("box-shadow", "inset 0 1.5px #3B6F96");
            $(this).find("a").css("border-bottom", "none");

            type = $(this).find("a").text();
        });
    });

    $('.subnav').affix({
        offset: {
            top: $('#navtop').height()
        }
    });
</script>
{{#if search}}

  {{partial "partials/navbar_search"}}
  {{partial "partials/filter"}}

    <div class="container-fluid container-search-result">
        {{#if controller.error}}
          <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{controller.error}}
          </div>
      {{/if}}
      {{#unless model}}
      {{else}}
        {{#if layoutList}}
          {{#each anime in model}}
              <div class="row" style="border-bottom: 1px solid #ddd;padding: 15px;">
                  <div class="col-md-1 vertical-center-anime">
                      <img style="max-width: 100%;" src="{{anime.posterImage}}">
                  </div>
                  <div class="col-md-9" style="text-align: justify;margin: 0;padding: 0">
                      <h4 class="media-heading">{{anime.titles.romaji}}<small><i></i></small></h4>
                      <div class="vertical-center-anime col-center-block">{{anime.synopsis}}</div>
                  </div>
                  <div class="col-md-1 vertical-center-anime centering">
                    {{anime.showType}}
                  </div>
                  <div class="col-md-1 vertical-center-anime centering">
                    {{anime.episodeCount}}
                  </div>
              </div>
          {{/each}}
        {{else}}
            <div class="container-fluid" style="margin-left: 20px; margin-right: 20px">
                <div class="row">
                  <div id="series-panel" class="col-md-2" style="padding-right: 30px;">
                          <div class="row">
                              <img id="serie-poster" src="{{animeSelected.posterImage}}" style="background-size:cover;height: 100%;width: 100%;max-height: 400px;max-width: 100%">
                          </div>
                          <div class="row">
                              <div id="serie-info">
                                  <h4 style="text-align: left;padding-bottom:5px;border-bottom: 1px solid black">
                                      Titles
                                  </h4>
                                  <div id="serie-titles">
                                      <div id="serie-title-romaji-left">Romaji: {{animeSelected.romajiTitle}}</div>
                                      <div id="serie-title-japanese-left">Japanese: {{animeSelected.japaneseTitle}}</div>
                                  </div>
                                  <h4 id="serie-information" style="text-align: left;padding-bottom:5px;border-bottom: 1px solid black">
                                      Information
                                  </h4>
                                  <div id="serie-metadata">
                                      <div id="serie-started-airing-date-left">Aired: {{animeSelected.startedAiringDate}}</div>
                                      <div id="serie-finished-airing-date-left">To: {{animeSelected.finishedAiringDate}}</div>
                                      <div id="serie-youtube-video-id-left">Trailer: http://youtube.com/{{animeSelected.youtubeVideoId}}</div>
                                      <div id="serie-age-rating-left">Rating: {{animeSelected.ageRating}}</div>
                                      <div id="serie-episode-count-left">Episodes: {{animeSelected.episodeCount}}</div>
                                      <div id="serie-episode-length-left">Duration: {{animeSelected.episodeLength}}</div>
                                      <div id="serie-show-type-left">Type: {{animeSelected.showType}}</div>
                                  </div>
                              </div>
                          </div>
                  </div>
                  <div class="center-block">
                    {{#each anime in model}}
                      {{model.titles.canonical}}
                        <div class="col-md-1" style="margin: 0;padding: 0">
                            <a href="#" class="thumbnail" style="margin: 0;padding: 0;">
                                <img {{action "updateSeriePanel" anime on="mouseEnter"}} class="serie-poster-image" src="{{anime.posterImage}}" style="background-size:cover;height: 200px;">
                                <div class="serie-hidden" style="display: none">
                                    <div class="serie-title-canonical">{{anime.canonicalTitle}}</div>
                                    <div class="serie-title-romaji">{{anime.romajiTitle}}</div>
                                    <div class="serie-title-english">{{anime.englishTitle}}</div>
                                    <div class="serie-title-japanese">{{anime.japaneseTitle}}</div>
                                    <div class="serie-started-airing-date">{{anime.startedAiringDate}}</div>
                                    <div class="serie-finished-airing-date">{{anime.finishedAiringDate}}</div>
                                    <div class="serie-youtube-video-id">{{anime.youtubeVideoId}}</div>
                                    <div class="serie-age-rating">{{anime.ageRating}}</div>
                                    <div class="serie-episode-count">{{anime.episodeCount}}</div>
                                    <div class="serie-episode-length">{{anime.episodeLength}}</div>
                                    <div class="serie-show-type">{{anime.showType}}</div>
                                    <!--<div class="serie-genres">{{anime.genres}}</div>-->
                                </div>
                            </a>
                        </div>
                    {{/each}}
                  </div>
                  </div>
              </div>
        {{/if}}
      {{/unless}}
    </div>
{{else}}
   {{partial "partials/home_search"}}
{{/if}}
