<div class="row" style="padding-top: 20px;padding-bottom: 0;margin-bottom: 0;">
    <div class="collapse" id="collapseExample">
        <div class="well">
            <div class="checkbox">
                <label>
                  {{input type='checkbox' checked=isAnimeType}}
                    Anime
                </label>
            </div>
            <div class="checkbox">
                <label>
                  {{input type='checkbox' checked=isMangaType}}
                    Manga
                </label>
            </div>
            <div class="checkbox">
                <label>
                  {{input type='checkbox' checked=isMangakaType}}
                    Mangaka
                </label>
            </div>
            <div class="checkbox">
                <label>
                  {{input type='checkbox' checked=isCharacterType}}
                    Character
                </label>
            </div>
            <div class="checkbox">
                <label>
                  {{input type='checkbox' checked=isPodcastType}}
                    Podcast
                </label>
            </div>
        </div>
    </div>
</div>
