<script type="text/javascript">

    var type = "Anime";

    $('#search').keypress(function(e){
        if(e.which == 13){
            var url = "search?query=" + $('#search').val() + "&type=" + type.toLowerCase();
            window.location.replace(url);
        }
    });

    //prevent redirection
    $('ul.search-type li a').on('click', function(e) {
        e.preventDefault();
    });

    $(document).ready(function()
    {
        $('ul.search-type li').click(function(e)
        {
            var clickEl = $('ul.search-type li a');

            //deselect
            clickEl.each(function(){
                $(this).css("box-shadow", "none");
                $(this).css("z-index", "none");
                $(this).css("border", "1px solid #ddd");
                $(this).css("border-bottom", "none");

            });
            //select
            $(this).find("a").css("border-top", "1px solid #3B6F96");
            $(this).find("a").css("box-shadow", "inset 0 1.5px #3B6F96");
            $(this).find("a").css("border-bottom", "none");

            type = $(this).find("a").text();
        });
    });

    $('.subnav').affix({
        offset: {
            top: $('#navtop').height()
        }
    });

    $(".serie-poster-image").on({
        "mouseover" : function() {
            $("#serie-poster").attr('src', this.src);
        }
    });

</script>
{{#if controller.query}}
    <div class="navbar subnav" role="navigation">
          <div class="navbar-left">
              <ul class="pager subnav-pager ">
                  <div class="col-xs-5">
                      <div class="input-group">
                          <div class="container-4 input-group-btn right-addon">
                            {{input id="search2" required="true" type="text" class="form-control" placeholder="Search for..." value=controller.query}}
                              <span class="icon"><i class="fa fa-search"></i></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-2">
                      <div class="pull-right" >
                          <button href="#Foo" class="btn btn-default btn btn-filter" data-toggle="collapse">
                              <span class="glyphicon glyphicon-filter" ></span>
                          </button>
                      </div>
                      <div class="pull-right" style="margin-left:0px;">
                          <button type="button" class="btn btn-default" aria-label="Left Align" style="" {{action "changeLayoutToThumbnail"}}>
                              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                          </button>
                      </div>
                      <div class="pull-right">
                          <button type="button" class="btn btn-default" aria-label="Left Align" style="" {{action "changeLayoutToList"}}>
                              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                          </button>
                      </div>
                  </div>
              </ul>
          </div>
    </div>
    <div class="container-fluid container-search-result">
        <div class="col-xs-2" style="margin-left:10px;margin-right: 20px">
            <div class="row">
                  <img id="serie-poster" style="max-width: 100%;" src="https://static.hummingbird.me/anime/poster_images/000/003/936/large/gqt6iYB.jpg?1419000387">
                <!--<a data-tooltip="Watch Trailer" class="trailer-link" data-bindattr-991="991" data-ember-action="992">-->
                <!--<i class="fa fa-youtube-play"></i>-->
                <!--</a>-->
            </div>
            <div class="row">
                <div class="series-panel">
                    <div class="serie-info">
                        <h4 class="serie-titles" style="text-align: left;padding-bottom:5px;border-bottom: 1px solid black">
                            Titles
                        </h4>
                        <ul class="series-metadata">
                            <li>English title</li>
                            <li>Jap title</li>
                        </ul>

                        <h4 class="serie-information" style="text-align: left;padding-bottom:5px;border-bottom: 1px solid black">
                            Information
                        </h4>
                        <ul class="series-metadata">
                            <li>TV</li>
                            <li title="Violence, Profanity">R17+</li>
                            <li>
                                64 episodes
                            </li>
                            <li>

                                24

                                min
                            </li>
                            <li>Aired from 5 Apr 2009 to 4 Jul 2010</li>
                            <li>Genres: <li>Action</li>

                            <li>Adventure</li>

                            <li>Drama</li>

                            <li>Fantasy</li>

                            <li>Magic</li>

                            <li>Military</li></li>

                            <li>Studios:  <li>Bones</li>

                            <li>Aniplex</li>

                            <li>Square Enix</li>

                            <li>FUNimation Entertainment</li>

                            <li>Mainichi Broadcasting</li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

      {{#if layoutList}}
        {{#each anime in model}}
          {{model.titles.canonical}}
            <div class="row">
                <a href="#" class="thumbnail">
                    <img src="{{anime.poster_image}}" alt="125x125">
                </a>
            </div>
        {{/each}}
      {{else}}
        {{#each anime in model}}
          {{model.titles.canonical}}
            <div class="col-xs-1" style="margin: 0;padding: 0">
                <a href="#" class="thumbnail" style="margin: 0;padding: 0">
                    <img class="serie-poster-image" src="{{anime.poster_image}}" alt="125x125">
                    <div style="display: none">
                        <div class="serie-title-canonical">
                          {{anime.titles.canonical}}
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
      {{/if}}
    </div>
{{else}}
    <div class="container">
      <div class="container vertical-center">
          <div class="row " >
              <div class="col-xs-12 center-block container-brand">
                  GooglAnime
              </div>
              <div style="height: 30px;" class="col-xs-12 center-block">
              </div>
              <div class="col-xs-8 center-block">
                  <nav>
                      <ul class="search-type pagination custom">
                          <li><a class="default" href="#">Anime</a></li>
                          <li><a href="#">Manga</a></li>
                          <li><a href="#">Mangaka</a></li>
                          <li><a href="#">Character</a></li>
                          <li><a href="#">Podcast</a></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-xs-8 center-block">
                  <div class="input-group">
                      <div class="container-4 input-group-btn right-addon">
                        {{input id="search" required="true" type="text" class="form-control" placeholder="Search for..." value=searchValue}}
                          <span class="icon"><i class="fa fa-search"></i></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
{{/if}}
